* {
  margin: 0px;
  padding: 0px;
}
body,
html {
  font-family: Roboto, sans-serif, Arial;
  background: #f0f3f0;
}
.width-1001 {
  background: #2196f3;
  padding: 5px 0px;
  border-bottom: 3px solid #3131315e;
}
.conteiner {
  width: 1500px;
  margin: 0px;
}

.newsfade {
  background: #fff;
  color: red;
  padding: 5px;
  font-size: 24px;
}
.headquote {
  font-size: 20px;
  color: #fff;
  width: 800px;
}
.header-menu {
  position: relative;
  box-shadow: 0px 2px 5px 0px #00000036;
}
.home {
  width: fit-content;
  float: right;
  list-style: none;
  margin-top: 20px;
  font-weight: 1000;
  color: #3a3a3a;
  font-size: 20px;
  border: 100px;
}
.li {
  float: left;
  padding: 12px;
  text-decoration: none;
}
.li1 {
  float: left;
  padding: 12px;
}
.li2 {
  float: left;
  padding: 12px;
}
.cardWrapper {
  width: 100%;
  margin: 100px auto;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240327/pngtree-abstract-green-nature-bokeh-background-soft-background-blur-of-natural-foliage-image_15646813.jpg");
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img {
  width: 29.33%;
  float: left;
  background-color: #fff;
  margin: 100px 2%;
  border-radius: 20px;
}

.img img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.img h1 {
  font-size: 24px;
  text-align: center;
}

.img p {
  font-size: 16px;
  text-align: justify;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 18px;
}

.img button {
  display: block;
  width: 100px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
